@page
@model SocketClientApp.Pages.ChatModel
@{
	ViewData["Title"] = "Broker-Trader Chat";
}

<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
        #chat-form {
            display: flex;
            flex-direction: column;
            width: 300px;
        }

        #message {
            margin-bottom: 10px;
        }

        #messages {
            margin-top: 20px;
            width: 1200px;
            border: 1px solid pink;
            padding: 10px;
            max-height: 600px;
            overflow-y: auto;
        }
		</style>
        <title>@ViewData["Title"]</title>
	</head>
    <body>
       <div class="text-center">
           <h1 class="display-4">Chat</h1>
       </div>

       <form id="chat-form">
           <input type="text" name="message" id="message" placeholder="Message" />
           <input type="submit" name="sendButton" value="Send" />
       </form>
       <div id="messages"></div>

       <script>

           const socket = new WebSocket("ws:192.168.5.32:5149/ws");

           socket.onopen = function(event){
               console.log("Удалось установить соединение с сокет сервером");
           };

           socket.onmessage = function(event){
               const messageEl = document.createElement("div");
               messageEl.textContent = event.data;
               document.getElementById("messages").appendChild(messageEl);
           };

           socket.onerror = function(error){
               console.error("Ошибка сокета: ", error);
           };

           socket.onclose = function(event){
               if(event.wasClean) {
                   console.log("Соединение закрылось без ошибок, Код: ${event.code}, Причина: ${event.reason}");
               }
               else{
                console.error("Соединение закрылось из-за ошибки Код: ${event.code}, Причина: ${event.reason}");
               }
           };

           document.getElementById("chat-form").onsubmit = async function(event){
               event.preventDefault();
               const message = document.getElementById("message").value;

               var token = sessionStorage.getItem("Token");

               const resonseGet = await fetch(`http://192.168.5.32:5000/api/Token/GetID?token=${token}`, {
                   method: "GET",
                   headers: {
                       "Content-Type" : "application/json"
                   }
               });

               var data = await resonseGet.json();
               var id = data.id;

               var messageObj = {
                   Message_Text: message,
                   ID_User: id
               };

               const responseSend = await fetch(`http://192.168.5.32:5000/api/Sender/SendMessage`, {
                   method: "POST",
                   headers: {
                       "Content-Type" : "application/json"
                   },
                   body: JSON.stringify(messageObj)
               });

               if(responseSend.ok){
                   console.log("Отправлено сообщение");
                   socket.send(message);
               }
               else
               {
                   alert("Не получилось отправить сообщение");
               }
               document.getElementById("message").value = "";
           };
       </script>
    </body>
</html>
